  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  img.backgroundimg {
    width: 100vmax;
    min-width: 100vmin;
    opacity: 0.2;
    position: absolute;
    /* To put the image behind the links */
    z-index: -1;
  }

  body {
    font-size: 100%;
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
    background-color: rgb(255, 240, 242);
  }

  h1 {
    text-align: center;
    font-size: 3rem;
    padding: 2rem;
    font-family: 'Parisienne', cursive;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem;
  }

  /* TO BE CHANGED!!!!!! */

  .item {
    flex-direction: column;
    border: 1.5px solid #e6ebff;
  }

  .itemimg {
    width: 20%;
    height: 20%;
  }

  /*
  img {
    width: 40%;
    height: 40%;
  }
*/

  h2 {
    font-size: 2rem;
    padding: 1rem;
    font-family: 'Parisienne', cursive;
  }

  p {
    text-indent: 2rem;
    line-height: 1.5rem;
    padding: 1rem;
  }

  .mainnav {
    flex-wrap: wrap;
    padding: 0.5rem 2rem;
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
  }

  /* Parent element */

  ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
  }

  /* Children elements of ul */

  li {
    padding: 0.5rem 1rem;
  }

  a {
    color: black;
    text-decoration: none;
  }

  .intext {
    text-decoration: underline;
  }
