  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* GENERAL STYLES */

  body {
    font-size: 100%;
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
  }

  .main {
    background-color: white;
    border-left: rgb(255, 240, 242) solid 8rem;
    border-right: rgb(255, 240, 242) solid 8rem;
    /* Height for border to span until the end of the page */
    height: 100%;
  }

  /* Resize pink borders & Delete for smallest screen size*/

  @media screen and (max-width: 876px) {
    .main {
      border-left: rgb(255, 240, 242) solid 4rem;
      border-right: rgb(255, 240, 242) solid 4rem;
    }
  }

  @media screen and (max-width: 630px) {
    .main {
      border-left: rgb(255, 240, 242) solid 2rem;
      border-right: rgb(255, 240, 242) solid 2rem;
    }
  }

  @media screen and (max-width: 412px) {
    .main {
      border-left: 0rem;
      border-right: 0rem;

      background-color: rgb(255, 240, 242);
    }
  }

  /* TOP HEADER (NAV + H1) */

  /* Parent element */

  div.topheader {
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;

    margin-left: auto;
    margin-right: auto;
  }

  /* Children element #1 */

  .mainnav {
    align-self: flex-end;
    flex-wrap: wrap;
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
    padding: 0.5rem;
  }

  /* Parent element */

  ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: flex-end;
  }

  /* Children elements of ul */

  li {
    padding: 0.5rem 1rem;
  }

  a {
    color: black;
    text-decoration: none;
  }

  .intext {
    text-decoration: underline;
  }

  /* Children element #2 */

  h1 {
    align-self: center;
    font-size: 3rem;
    padding: 2rem;
    font-family: 'Parisienne', cursive;
  }

  /* Resize h1 */

  @media screen and (max-width: 764px) {
    h1 {
      text-align: center;
    }
  }

  @media screen and (max-width: 606px) {
    h1 {
      padding-left: 0rem;
      padding-right: 0rem;
    }
  }

  @media screen and (max-width: 700px) {
    .mainnav {
      width: 100%;
    }
    ul {
      justify-content: space-between;
    }
  }


  /* MAIN CONTAINER */

  /* Parent element */

  .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 2rem;
  }

  /* Resize container */

  @media screen and (max-width: 764px) {
    .container {
      margin: 1rem;
    }
  }

  @media screen and (max-width: 606px) {
    .container {
      margin: 0.2rem;
    }
  }

  /* Children elements */

  h2 {
    align-content: flex-start;
    font-size: 1.8rem;
    padding: 1rem;
    font-family: 'Parisienne', cursive;
  }

  p {
    line-height: 1.5rem;
    padding: 1rem;
    align-self: center;
    text-align: justify;
  }


  /* HOME PAGE */

  /* Margin styles */

  .contain {
    margin-left: 8rem;
    margin-right: 8rem;
  }

  /* Resize margins */

  @media screen and (max-width: 876px) {
    .contain {
      margin-left: 4rem;
      margin-right: 4rem;
    }
  }

  @media screen and (max-width: 630px) {
    .contain {
      margin-left: 2rem;
      margin-right: 2rem;
    }
  }

  @media screen and (max-width: 412px) {
    .contain {
      margin-left: 0rem;
      margin-right: 0rem;
    }
  }

  /* Background image */

  .bodyhome {
    background-image: url("../images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  img {
    max-width: 100%;
  }


  /* Main styles */

  .containerhome {
    display: flex;
    flex-direction: column;
  }

  .home {
    font-size: 70px;
    align-self: center;
    margin: auto;
    padding: 8rem;
    position: relative;
  }

  /* Resize text */

  @media screen and (max-width: 1064px) {
    .home {
      font-size: 60px;
      padding: 4rem;
    }
  }

  @media screen and (max-width: 686px) {
    .home {
      font-size: 50px;
      padding: 2rem;
    }
  }

  @media screen and (max-width: 364px) {
    .home {
      padding: 0.5rem;
    }
  }

  .phome {
    flex-wrap: wrap;
    font-size: 28px;
    align-self: center;
    margin: auto;
    font-family: 'Dancing Script', cursive;
  }

  @media screen and (max-width: 614px) {
    .phome {
      font-size: 20px;
      text-align: center;
    }

  }

  /* RECIPES PAGE */

  .parent {
    display: flex;
    flex-wrap: wrap;
  }

  /* Parent element */

  .itemdiv {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    padding: 2%;
    border: 1.5px solid #f7cae4;

    flex-grow: 1;
    flex-basis: 46%;
  }

  /* Children elements */

  .itemh2 {
    align-self: center;

    font-size: 1.6rem;

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

  }

  .itemp {
    flex-grow: 1;
    align-self: center;

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .itemimg {
    max-height: 10rem;
    margin-left: auto;
    margin-right: auto;

    flex-grow: 1;
  }

  /* Reduce to one item per line */

  @media screen and (max-width: 630px) {
    .itemdiv {
      display: flex;
      flex-grow: 1;
      flex-basis: 96%;
    }
  }

  /* FOOTER STYLES */

  /* Parent element */

  footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    padding: 1rem;
    margin: auto;
    flex-grow: 1;
  }

  /* Children elements */

  .icons {
    align-self: center;
    flex-grow: 1;
  }

  div a {
    padding: 0.5rem;
    flex-grow: 1;
  }

  p.foot {
    flex-grow: 1;
    text-align: center;
    font-size: 10px;
    line-height: 0rem;
    padding-top: 0.5rem;
    padding-bottom: 0.55rem;
  }

  /* Resize footer */

  @media screen and (max-width: 212px) {
    footer {
      padding: 0rem;
    }
  }
